@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


html.main {
    background: black url('img/logo-all.png') center center / contain no-repeat fixed;

   
}

html.other {
    background: url('img/web-background.png') center center / 100% 100% no-repeat fixed;
}

body {
    margin-left: 2.5%;
    margin-right: 2.5%;
    width: 95%;
    font-family: 'Roboto', sans-serif;
}

body > header {
    display: flex;
    align-items: center;
    width: 100%;
    border-right: 25px;
}

.topLogo {
    display: block;
    vertical-align: middle;
    width: 12vw;
}

nav {
    
    width: 100%;
    vertical-align: middle;
    
    
}

body > header > nav > ul {
    display: block;
    float: left;
    width: 100%;
    padding-left: 0;    
}

nav > ul > li {
    display: block;
    float: left;
    text-align: center;
    background-color: #b10dde;
 
    width: 11.11%;
}

nav > ul > li:hover {
    background-color: #CB61E8;
}


body > header > nav > ul > li > a {
    display: block;
    height: 2.5em;
    text-align: center;
    line-height: 2.5em;
    font-size: 1em;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

